.task-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: $m-size;
    padding: $xs-size;
    align-items: center;
    
    span{
        display: flex;
        align-items: center;
        width: 90%;

        svg{
            margin-right: $s-size;
        }
    }
}
.task-isDone{
    text-decoration: line-through;
    color: $white;
}

