// Colors
$black: #17252A;
$blue: #3AAFA9;
$dark-blue: #2B7A78;
$light-blue: #DEF2F1;
$white: #FEFFFF;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;